
	<div id="top-header">
		<h2><%= @tel %>来电</h2>
	</div>

	<%= form_for :workorder, url: dashboard_index_path, method: :post do |f| %>
	<div class="left">
		<fieldset>
			<legend>ALT+Q</legend>
			<div>
				<%= f.label :name, t('.name') %>
    			<%= f.text_field :name, autofocus: true,:class => "form-control", accesskey: "q" , value: @customer.name%>
    			<%= f.label :age, t('.age')%>
    			<%= f.text_field :age, autofocus: true,:class => "form-control" , value: @customer.age%>
                <%= f.label :gender, t('.gender') %>
    			<%= f.text_field :gender, autofocus: true,:class => "form-control" , value: @customer.gender%>

			</div>
		</fieldset>
	</div>
	
	<div class="right">
		<fieldset>
			<legend>ALT+W</legend>
			<div>
				<%= f.label :education, t('.education') %>
    			<%= f.text_field :education, autofocus: true,:class => "form-control", accesskey: "w" , value: @customer.education%>
    			<%= f.label :occupation, t('.occupation') %>
    			<%= f.text_field :occupation, autofocus: true,:class => "form-control" , value: @customer.occupation%>
    			<%= f.label :marital_status, t('.marital_status') %>
    			<%= f.text_field :marital_status, autofocus: true,:class => "form-control" , value: @customer.marital_status%>
                <%= f.hidden_field :phone_num, autofocus: true,:class => "form-control", value: @tel%>
                <%= f.hidden_field :id, autofocus: true,:class => "form-control", value: @customer.id%>
			</div>
		</fieldset>
	</div>

	<div class="left bottom" id="leftside">
		<fieldset>
			<legend>ALT+A</legend>
			<div>
				<%= f.label :address, t('.address') %>
    			<%= f.text_field :address, autofocus: true,:class => "form-control", accesskey: "a" , value: @customer.address%>
    			<%= f.label :address_type, t('.address_type') %>
    			<%= f.text_field :address_type, autofocus: true,:class => "form-control" , value: @customer.address_type%>
    			<%= f.label :channel, t('.channel') %>
    			<%= f.text_field :channel, autofocus: true,:class => "form-control" , value: @customer.channel%>
                <%= f.label :disability_degree, t('.disability_degree') %>
                <%= f.text_field :disability_degree, autofocus: true,:class => "form-control" , value: @customer.disability_degree%>
			</div>
		</fieldset>
	</div>

	<div class="right bottom">
		<fieldset>
			<legend>ALT+S</legend>
			<div>
				<%= f.label :title, t('.title') %>
    			<%= f.text_field :title, autofocus: true, :class => "form-control", accesskey: "s" %>
    			<%= f.label :answer, t('.answer') %>
    			<%= f.text_field :answer, autofocus: true, :class => "form-control" %>
    			<%= f.label :note, t('.note') %>
    			<%= f.text_field :note, autofocus: true, :class => "form-control" %>
                <%= f.label :status, t('.status') %>
                <%= f.text_field :status, autofocus: true, :class => "form-control" %>
			</div>
		</fieldset>
	</div>

        <div>
          <%= f.submit "提交", :class => "btn btn-danger" %>
        </div>
<% end %>
