
	<div id="top-header">
		<h2><%= @tel %>来电</h2>
	</div>

	<%= form_for :dashboard, url: dashboard_index_path, method: :post do |f| %>
	<div class="left">
		<fieldset>
			<legend>ALT+Q</legend>
			<div>

				<%= f.label :name %>
    			<%= f.text_field :name, autofocus: true,:class => "form-control", accesskey: "q" , value: @customer.name%>
    			<%= f.label :age %>
    			<%= f.text_field :age, autofocus: true,:class => "form-control" , value: @customer.age%>
                <%= f.label :性别 %>
    			<%= f.text_field :gender, autofocus: true,:class => "form-control" , value: @customer.gender%>

			</div>
		</fieldset>
	</div>
	
	<div class="right">
		<fieldset>
			<legend>ALT+W</legend>
			<div>
				<%= f.label :学历 %>
    			<%= f.text_field :education, autofocus: true,:class => "form-control", accesskey: "w" , value: @customer.education%>
    			<%= f.label :工作 %>
    			<%= f.text_field :occupation, autofocus: true,:class => "form-control" , value: @customer.occupation%>
    			<%= f.label :婚否 %>
    			<%= f.text_field :marital_status, autofocus: true,:class => "form-control" , value: @customer.marital_status%>
                <%= f.hidden_field :phone_num, autofocus: true,:class => "form-control", value: @tel%>
                <%= f.hidden_field :id, autofocus: true,:class => "form-control", value: @customer.id%>
			</div>
		</fieldset>
	</div>

	<div class="left bottom" id="leftside">
		<fieldset>
			<legend>ALT+A</legend>
			<div>
				<%= f.label :地点 %>
    			<%= f.text_field :address, autofocus: true,:class => "form-control", accesskey: "a" , value: @customer.address%>
    			<%= f.label :城乡 %>
    			<%= f.text_field :address_type, autofocus: true,:class => "form-control" , value: @customer.address_type%>
    			<%= f.label :渠道 %>
    			<%= f.text_field :channel, autofocus: true,:class => "form-control" , value: @customer.channel%>
                <%= f.label :残障程度 %>
                <%= f.text_field :disability_degree, autofocus: true,:class => "form-control" , value: @customer.disability_degree%>
			</div>
		</fieldset>
	</div>

	<div class="right bottom">
		<fieldset>
			<legend>ALT+S</legend>
			<div>
				<%= f.label :问题 %>
    			<%= f.text_field :title, autofocus: true, :class => "form-control", accesskey: "s" %>
    			<%= f.label :答案 %>
    			<%= f.text_field :answer, autofocus: true, :class => "form-control" %>
    			<%= f.label :备注 %>
    			<%= f.text_field :note, autofocus: true, :class => "form-control" %>
                <%= f.label :状态 %>
                <%= f.text_field :status, autofocus: true, :class => "form-control" %>
			</div>
		</fieldset>
	</div>

        <div>
          <%= f.submit "提交", :class => "btn btn-danger" %>
        </div>
<% end %>
