<h1>所有问题</h1>
<table class="table">
  <thead>
    <tr>
      <td>类别</td>
      <td>问题</td>
      <td>答案</td>
      <td>删除</td>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository|%>
    <tr>
      <td><%= repository.catalog.name %></td>
      <td><%= repository.title %></td>
      <td><%= repository.answer  %></td>
      <td><%= link_to '删除',repository_path(repository), method: :delete, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '新建问题', new_repository_path, class: 'btn btn-default'  %>
<%= link_to '新建目录', new_catalog_path, :class => 'btn btn-default'%>

