<h1>新建知识库问题</h1>
<%= form_for @repository  do |f| %>
    <div class="form form-horizontal">
      <%= f.label :catalogs, t('.catalog'), :class=> 'control-label' %>
      <%= select_tag "catalogs",options_from_collection_for_select(@catalogs,'id','name'), :class => 'form-control' %>
    </div>

    <div class="form form-horizontal">
      <%= f.label :title, t('.title'), :class=> 'control-label' %>
      <%= f.text_field :title, :class => 'form-control',:placeholder => '请输入问题' %>
      <% if @repository.errors[:title].any? %>
          <%= f.label @repository.errors[:title][0], :class => 'error-label'%><br>
      <% end %>
    </div>

    <div class="form form-horizontal">
      <%= f.label :answer, t('.answer'), :class=> 'control-label' %>
      <%= f.text_area :answer, :class => 'form-control',:placeholder => '请输入问题答案' %>
      <% if @repository.errors[:answer].any? %>
          <%= f.label @repository.errors[:answer][0], :class => 'error-label'%><br>
      <% end %>
    </div>
    <div>
      <%= f.submit t('.submit'), :class => 'btn btn-danger' %>

    </div>
<% end %>