<h3>知识库的一个展示页面</h3>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">问题详情</h3>
  </div>
  <div class="panel-body">
    <%= label_tag '所属目录:' %>
    <span><%= @repository.catalog.name %></span><br>
    <%= label_tag '问题:' %>
    <span><%= @repository.title %></span><br>
    <%= label_tag '答案:' %>
    <span><%= @repository.answer %></span><br>
    <%= link_to '返回', repositories_path, :class => 'btn btn-default' %>
  </div>
</div>