<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(".create_time")%></th>
      <th><%= t(".status")%></th>
      <th><%= t(".customer_name")%></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <% @workorders.each do |workorder| %>
    <tr>
      <td><%= link_to workorder.created_at, edit_workorder_path(workorder)%></td>
      <td>
        <%if workorder.status== 'true' %>
          <%= link_to t(".solved")%>
        <% else %>
          <%= link_to t(".unsolved") %>
        <% end %>
      </td>
      <td><%= link_to Customer.find(workorder.customer_id).name %></td>
      <td><%= link_to 'edit'%></td>
    </tr>
  <% end %>
</table>
