<table class="table table-hover" onkeyup="keystoke()" onload="init()">
  <thead>
  <tr>
    <th><%= t(".create_time") %></th>
    <th><%= t(".status") %></th>
    <th><%= t(".customer_name") %></th>
  </tr>
  </thead>
  <% @work_orders.each_with_index do |work_order, index| %>
      <tr>
        <td><%= link_to work_order.created_at, edit_work_order_path(work_order), id: '1:'+index.to_s %></td>
        <td>
          <% if work_order.status== 'true' %>
              <%= link_to t(".solved"), edit_work_order_path(work_order), id: '2:'+index.to_s %>
          <% else %>
              <%= link_to t(".unsolved"), edit_work_order_path(work_order), id: '2:'+index.to_s %>
          <% end %>
        </td>
        <td><%= link_to Customer.find(work_order.customer_id).name, edit_work_order_path(work_order), id: '3:'+index.to_s %></td>
      </tr>
  <% end %>
</table>
