<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t(".create_time")%></th>
      <th><%= t(".status")%></th>
      <th><%= t(".customer_name")%></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <% @work_orders.each do |work_order| %>
    <tr>
      <td><%= link_to work_order.created_at, edit_work_order_path(work_order)%></td>
      <td>
        <%if work_order.status== 'true' %>
          <%= link_to t(".solved")%>
        <% else %>
          <%= link_to t(".unsolved") %>
        <% end %>
      </td>
      <td><%= link_to Customer.find(work_order.customer_id).name %></td>
      <td><%= link_to 'edit'%></td>
    </tr>
  <% end %>
</table>
