<p>工单数量:<%= @work_orders.count %>个工单</p>
<%= form_tag("/work_orders",method: "get") do %>
    <% if can? :read, :all%>
        <%= text_field_tag :content %>
        <%= submit_tag t('.search') %>
        <br>
    <% end %>

    <%= submit_tag t ('.all_work_orders') %>
    <%= submit_tag t ('.solved') %>
    <%= submit_tag t ('.unsolved') %>
    <%= submit_tag t ('.week') %>
    <%= submit_tag t ('.month') %>
    <%= submit_tag t ('.three_days') %>
<% end %>
<table class="table table-hover">
  <thead>
  <tr>
    <th><%= t(".create_time") %></th>
    <th><%= t(".status") %></th>
    <% if can? :read, :all %>
        <th><%= t(".user_name") %></th>
    <% end %>
    <th><%= t('.updated_user') %></th>
    <th><%= t('.updated_time') %></th>
    <th><%= t(".customer_name") %></th>
  </tr>
  </thead>
  <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= link_to work_order.created_at.strftime('%Y-%m-%d %H:%M:%S'), edit_work_order_path(work_order) %></td>
        <td>
          <% if work_order.status== 'true' %>
              <%= link_to t(".solved"), edit_work_order_path(work_order) %>
          <% else %>
              <%= link_to t(".unsolved"), edit_work_order_path(work_order) %>
          <% end %>
        </td>
        <% if can? :read, :all %>
            <td><%= link_to work_order.user.username, edit_work_order_path(work_order) %></td>
        <% end %>
        <td><%= link_to User.find(work_order.updated_user_id).username, edit_work_order_path(work_order) %></td>
        <td><%= link_to work_order.updated_at.strftime('%Y-%m-%d %H:%M:%S'), edit_work_order_path(work_order) %></td>
        <td><%= link_to work_order.customer.name, edit_work_order_path(work_order) %></td>
      </tr>
  <% end %>
</table>

<script>
  $('#work_orders_count').focus();
</script>
