<p>工单数量:<%= @work_orders.count %>个工单</p>
<%= form_tag("/work_orders", method: "get",:class => "form-inline") do %>
    <% if can? :read, :all %>
        <%= text_field_tag :content, nil, class:"form-control" %>
        <%= submit_tag t('.search'), class: "btn btn-danger" %>
        <br>
    <% end %>

    <%= submit_tag t('.all_work_orders'), class:"btn btn-default" %>
    <%= submit_tag t('.solved'), class: "btn btn-default" %>
    <%= submit_tag t('.unsolved'), class: "btn btn-default" %>
    <%= submit_tag t('.week'), class: "btn btn-default" %>
    <%= submit_tag t('.month'), class: "btn btn-default" %>
    <%= submit_tag t('.three_days'), class: "btn btn-default" %>
<% end %>
<table class="table table-hover">
  <thead>
  <tr>
    <th><%= t(".create_time") %></th>
    <th><%= t(".status") %></th>
    <% if can? :read, :all %>
        <th><%= t(".user_name") %></th>
    <% end %>
    <th><%= t('.updated_user') %></th>
    <th><%= t('.updated_time') %></th>
    <th><%= t(".customer_name") %></th>
  </tr>
  </thead>
  <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= link_to work_order.created_at.strftime('%Y-%m-%d %H:%M:%S'), edit_work_order_path(work_order) %></td>
        <td>
          <% if work_order.status== 'true' %>
              <%= link_to t(".solved"), edit_work_order_path(work_order) %>
          <% else %>
              <%= link_to t(".unsolved"), edit_work_order_path(work_order) %>
          <% end %>
        </td>
        <% if can? :read, :all %>
            <td><%= link_to work_order.user.username, edit_work_order_path(work_order) %></td>
        <% end %>
        <td><%= link_to User.find(work_order.updated_user_id==nil ? work_order.user.id : work_order.updated_user_id).username, edit_work_order_path(work_order) %></td>
        <td><%= link_to work_order.updated_at.strftime('%Y-%m-%d %H:%M:%S'), edit_work_order_path(work_order) %></td>
        <td><%= link_to work_order.customer.name, edit_work_order_path(work_order) %></td>
      </tr>
  <% end %>
</table>
<% if can? :read, :all %>
    <p>
      Download:
      <%= link_to "Excel", work_orders_export_path(format: "xls") %>
    </p>
<% end %>
