<div id="top-header">
  <h2><%= @tel %>来电</h2>
</div>

<%= render 'form' %>
<% unless(@work_order.customer.id==nil) then %>
    <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal" id="testBtn" accesskey="l">
      <%= t (".history_question") %>
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><%= @arrays.count %></h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover" id="tblGrid">
              <tr>
                <td><%= t (".question") %></td>
                <td><%= t (".answer") %></td>
                <td><%= t (".note") %></td>
                <td>提交时间</td>
              </tr>
              <% @arrays.each do |array|%>
                  <tr>
                    <td>
                      <!--<imput type="text" value=" <%= array.note %>" >-->
                      <!--<%= array.title %>-->
                      <input type="text" value="<%= array.note %>">
                    </td>
                    <td>
                      <!--<%= text_area_tag(:message, array.answer, size: "40x3") %> 主要是解决问题太长-->
                      <input type="text" value="<%= array.answer %>">
                    </td>
                    <td>
                      <input type="text" value="<%= array.note %>">
                      <!--<%= array.note %>-->
                    </td>
                    <td>
                      <input type="text" value="<%= array.created_at %>">
                      <!--<%= array.created_at %>-->
                    </td>
                  </tr>
              <% end %>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <%= t (".close") %>
            </button>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script>

    $('#myModal').on('shown.bs.modal', function () {
        new tabTableInput("tblGrid","text");
    });

  var initTabTable = function() {
      console.log('excuting...');
      setTimeout(function() {

      }, 400)
  }
</script>







