<div id="top-header">
  <h2><%= @tel %>来电</h2>
</div>

<%= render 'form' %>
<% unless(@work_order.customer.id==nil) then %>
    <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal" id="testBtn" accesskey="l">
      <%= t ('.history') %>
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog customer_div">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
              <a href="#" ><%=@arrays.count%>个问题</a>
            </h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover" id="tblGrid">
              <!--<tr>-->
                <!--<td><%= t ('.question') %></td>-->
                <!--<td><%= t ('.answer') %></td>-->
                <!--<td><%= t ('.note') %></td>-->
                <!--<td><%= t ('.username') %></td>-->
                <!--<td><%= t ('.time') %></td>-->
              <!--</tr>-->
              <% @arrays.each do |array|%>
                  <tr>
                    <td>
                      <%= link_to t('.question')+array.title %>
                      <!--<a href="#" aria-label="问题"><%= array.title %></a>-->
                    </td>
                    <td>
                      <div class="customerWidth">
                      <%= link_to t('.answer')+array.answer, "##" %>
                      <!--<%= text_field_tag 'answer', array.answer %>-->
                      </div>
                    </td>
                    <td>
                      <%= link_to t('.note')+array.note  %>
                    </td>
                    <td>
                      <%= link_to t('.username')+array.work_order.customer.name %>
                    </td>
                    <td>
                      <%= link_to t('.time')+array.created_at.strftime('%Y-%m-%d %H:%M') %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <%= t ('.close') %>
            </button>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        new tabTableInput("tblGrid","text");
    });
</script>







